@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter: 'Inter', system-ui, sans-serif;
    --font-display: 'Cal Sans', 'Inter', system-ui, sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }

  body {
    @apply antialiased text-gray-900 bg-white;
  }

  * {
    @apply border-gray-200;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}